@import url("./animation.css");
@import url("./styling.css");
@import "tailwindcss";

:root {
  width: 100dvw !important;

  --primary_color: #ffff81;
  --secondary_color: #dbe8ec;
  /* --secondary_color: #f3f3f3; */

  /* TEXT CUSTOM SIZES — SMALLER VERSION */
  --text-xs: clamp(0.65rem, 0.55rem + 0.5vw, 0.75rem);
  --text-sm: clamp(0.75rem, 0.65rem + 0.6vw, 0.9rem);
  --text-md: clamp(0.9rem, 0.75rem + 0.8vw, 1.1rem);
  --text-lg: clamp(1.1rem, 0.9rem + 1vw, 1.3rem);
  --text-xl: clamp(1.3rem, 1rem + 1.2vw, 1.7rem);
  --text-2xl: clamp(1.6rem, 1.3rem + 1.6vw, 2.4rem);
}

* {
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  height: 100dvh;
  width: 100dvw;
  overflow-x: hidden;
  background-color: var(--secondary_color);
  position: relative;
}

h1 {
  font-size: var(--text-2xl);
}

h2 {
  font-size: var(--text-xl);
}

h3 {
  font-size: var(--text-lg);
}

h4 {
  font-size: var(--text-md);
}

h5 {
  font-size: var(--text-sm);
}

h6 {
  font-size: var(--text-xs);
}

p {
  font-size: clamp(0.75rem, 0.55rem + 0.7vw, 0.8rem);
}
